<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<LiveZilla version="3.3.2.2">
  <clientConfiguration>
    <item key="ArchiveSearchWindowSize">1115,620</item>
    <item key="ArchiveSearchWindowLocation">50,50</item>
    <item key="ArchiveViewerWindowSize">1115,620</item>
    <item key="ArchiveViewerWindowLocation">50,50</item>
    <item key="ReportWindowSize">1115,620</item>
    <item key="ReportWindowLocation">50,50</item>
    <item key="ArchiveViewerFullscreen">False</item>
    <item key="ShowMaxUsersVisitorListInfo">True</item>
    <item key="EscapeMailto">True</item>
    <item key="ArchiveSearchFullscreen">False</item>
    <item key="ReportFullscreen">False</item>
    <item key="ShowInternetExplorerPrintInfo">True</item>
    <item key="StripHtmlWhenPasting">True</item>
    <item key="UseQuickSearch">True</item>
    <item key="ChatInputHeight">220</item>
    <item key="Rated">False</item>
    <item key="ShowSidebar">False</item>
    <item key="VisitorViewAutoSizeColumns">False</item>
    <item key="UserStatusBeforeIdle">Online</item>
    <item key="UserStatusBeforeScreen">Online</item>
    <item key="UserStatusBeforeLogOff">Online</item>
    <item key="VisitorViewColumnWidths">22,22,22,21,62,102,77,84,60,74,85,61,70,106,211,115,156,90,73,79,81,70,73,103,70,80,90,109,110,90,90,90,90,90,90,90,90,90,90,90</item>
    <item key="VisitorViewColumnVisible">True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False,False,False,False,False,False</item>
    <item key="SelectVisitorOnChatSwitch">False</item>
    <item key="ChangeStatusByChatTargetStatus">Busy</item>
    <item key="ChangeStatusByChat">True</item>
    <item key="ShowReportInBrowser">False</item>
    <item key="CloseOnAccept">False</item>
    <item key="StartupCounter">16</item>
    <item key="ChangeStatusByChatAmount">3</item>
    <item key="ShowRightPanel">True</item>
    <item key="HideDomains">False</item>
    <item key="ShowLeftPanel">True</item>
    <item key="ShowBottomPanel">True</item>
    <item key="ArchiveColumnNames">ColumnDate,ColumnType,ColumnName,ColumnInternal,ColumnGroup,ColumnEmail,ColumnCompany,ColumnLanguage,ColumnCountry,ColumnServer,ColumnIP,ColumnHost,ColumnDuration,ColumnAreaCode</item>
    <item key="TicketColumnNames">ColumnQualification,ColumnStatusIcon,ColumnCreated,ColumnStatusText,ColumnName,ColumnEmail,ColumnCompany,GroupName,ColumnServer,ColumnComment,ColumnIP</item>
    <item key="VisitorViewColumnNames">ColumnCountryFlag,ColumnChat,ColumnQueued,ColumnInvitation,ColumnOnlineTime,ColumnActivity,ColumnWaitingTime,ColumnInternal,ColumnName,ColumnCountry,ColumnLanguage,ColumnVisits,ColumnRegion,ColumnCity,ColumnPages,ColumnSearchstring,ColumnHost,ColumnIP,ColumnEmail,ColumnCompany,ColumnAreas,ColumnSystem,ColumnTimezone,ColumnResolution,ColumnReferrer,ColumnPagesVisited,ColumnOS,ColumnTitle,ColumnVisitLast,ColumnISP,ColumnCustom1,ColumnCustom2,ColumnCustom3,ColumnCustom4,ColumnCustom5,ColumnCustom6,ColumnCustom7,ColumnCustom8,ColumnCustom9,ColumnCustom10</item>
    <item key="WebCamSize">245,225</item>
    <item key="MainFormSize">990,720</item>
    <item key="MainFormWindowLocation">0,0,0</item>
    <item key="MessageCenterNewCustomerSeconds">5</item>
    <item key="MessageCenterNewVisitorSeconds">5</item>
    <item key="MessageCenterNewMessageSeconds">5</item>
    <item key="MessageCenterInternalLoggedOnSeconds">5</item>
    <item key="VisitorCenterSize">825,500</item>
    <item key="ArchiveDatabases">0,0,0</item>
    <item key="FileViewerColumnWidths">0,130,90</item>
    <item key="ArchiveColumnWidths">59,60,70,71,71,65,71,71,71,71,72,71,71,71</item>
    <item key="TicketColumnWidths">22,22,130,170,130,130,130,60,63,90,42</item>
    <item key="FilterViewColumnWidths">42,140,140,170,170,110</item>
    <item key="UrlHistoryColumnWidths">40,80,65,85,280,210</item>
    <item key="SystemLogColumnWidths">24,120,520</item>
    <item key="WebCamWindowLocation">200,200</item>
    <item key="SmileyBoxSize">185,90</item>
    <item key="CaptureDataSets">500</item>
    <item key="GeoMapType">0</item>
    <item key="GeoDefaultLat">25</item>
    <item key="GeoDefaultLong">10</item>
    <item key="GeoDefaultZoom">1</item>
    <item key="CaptureInterval">2</item>
    <item key="LeftControlWidth">210</item>
    <item key="TopControlsHeight">370</item>
    <item key="RightControlExpandedWidth">570</item>
    <item key="LinkOrderDirection">Title</item>
    <item key="DeleteArchivePeriodicDays">-1</item>
    <item key="EntryAmountSystemLog">100</item>
    <item key="TicketViewSortColumn">2</item>
    <item key="TicketViewSortDirection">1</item>
    <item key="RatingViewSortDirection">1</item>
    <item key="ArchiveViewSortColumn">0</item>
    <item key="RatingViewSortColumn">2</item>
    <item key="ArchiveViewSortDirection">1</item>
    <item key="VisitorViewSortColumn">4</item>
    <item key="VisitorViewSortDirection">1</item>
    <item key="WebCamRecording">True</item>
    <item key="WebCamAlwaysOnTop">True</item>
    <item key="GeoZoomUser">True</item>
    <item key="QrdSearch">False</item>
    <item key="ClickableURLs">True</item>
    <item key="GeoAutoCenter">False</item>
    <item key="UseGeoTracking">True</item>
    <item key="ShowUsersInFileViewer">True</item>
    <item key="PlaySoundExternKeepRinging">True</item>
    <item key="PlaySoundQueuedKeepRinging">True</item>
    <item key="ShowReorderInfo">True</item>
    <item key="ShowQueueWarning">True</item>
    <item key="ShowFilterHints">True</item>
    <item key="MainFormMaximized">False</item>
    <item key="VisitorCenterMaximized">False</item>
    <item key="SaveIPAndHost">True</item>
    <item key="ShowToolTipCapture">True</item>
    <item key="MyNameColor">#000000</item>
    <item key="MyTextColor">#000000</item>
    <item key="MyDateColor">#696969</item>
    <item key="ChatPartnerNameColor">#000000</item>
    <item key="ChatPartnerDateColor">#696969</item>
    <item key="CheckForUpdates">True</item>
    <item key="AutoAwayOnScreensaver">True</item>
    <item key="CatchClose">True</item>
    <item key="PlaySoundOnNewChat">True</item>
    <item key="PlaySoundOnNewPost">True</item>
    <item key="PlaySoundOnNewVisitor">True</item>
    <item key="PlaySoundOnQueued">True</item>
    <item key="PlaySoundDoBeep">False</item>
    <item key="ShowConnectionIcon">True</item>
    <item key="ShowServerReactionTime">False</item>
    <item key="AutoAcceptConversations">False</item>
    <item key="AutoScroll">True</item>
    <item key="HintWorkInBackGround">False</item>
    <item key="MessageCenterNewExternChat">True</item>
    <item key="MessageCenterNewVisitor">True</item>
    <item key="MessageCenterNewMessage">True</item>
    <item key="MessageCenterInternalLoggedOn">True</item>
    <item key="ArchiveCustom">False</item>
    <item key="ArchiveCalendar">False</item>
    <item key="ChatFontFace">Verdana</item>
    <item key="ChatFontSize">2</item>
    <item key="QrdFontFace">Verdana</item>
    <item key="QrdFontSize">2</item>
    <item key="OMRText">PiAlUVVPVEUl</item>
    <item key="OMRSubject">JVNVQkpFQ1Ql</item>
    <item key="WebCamDriverName">
    </item>
    <item key="SoundNewMessage">C:\Program Files (x86)\LiveZilla\sounds\message.wav</item>
    <item key="SoundNewExtern">C:\Program Files (x86)\LiveZilla\sounds\extern.wav</item>
    <item key="SoundNewVisitor">C:\Program Files (x86)\LiveZilla\sounds\visitor.wav</item>
    <item key="SoundQueue">C:\Program Files (x86)\LiveZilla\sounds\queue.wav</item>
    <item key="AutoAwayTime">10</item>
    <item key="ArchiveCustomIndex">0</item>
    <item key="ArchiveCalendarStart">1571803200</item>
    <item key="ArchiveCalendarEnd">1571889599</item>
    <item key="WebCamFrameRate">3</item>
    <item key="Culture">
    </item>
    <item key="TranslationMode">False</item>
  </clientConfiguration>
</LiveZilla>